<div class ="mb-5 pb-5">
  <div class="article-info">
      <h5><%= @article.title %></h5>
  </div>

  <img class="article-image" src="<%= @article.image_url %>" alt="<%@article.title%>">

  <div class="article-header">

    <div class="app-button" data-controller="favoritor"  style="width:50px" data-action="click->favoritor#bookmark" data-favoritor-target="bookmark" data-favoritor-url-value="<%=toggle_favorite_article_path(@article)%>">
      <% if current_user.favorited?(@article) %>
        <i class="fa-solid fa-bookmark"></i>
      <% else %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    </div>
     <!-- Share Button -->
      <div data-controller="share-button" class="share-button-container">
        <button data-action="click->share-button#toggle" class="share-button app-button" data-share-button-target="button">
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
        <div data-share-button-target="options" class="share-options">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>&quote=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-x-twitter"></i></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://api.whatsapp.com/send?text=<%= @article.title %> <%= request.original_url %>" target="_blank" class="share-icon"><i class="fab fa-whatsapp"></i></a>
          <a href="mailto:?subject=<%= @article.title %>&body=<%= request.original_url %>" target="_blank" class="share-icon"><i class="fas fa-envelope"></i></a>
        </div>
      </div>

  </div>

    <div class="article-info">
      <p class="mb-0">Source : <%= @article.source_name %></p>
      <p class="mb-0"><%= @article.category.split("/")[1] %></p>
      <p class="mb-0"><% if ((Time.now - Time.parse(@article.pub_date.to_s)) / 3600) >= 1 %><%= ((Time.now - Time.parse(@article.pub_date.to_s)) / 3600).round %> hours <% else %><%= ((Time.now - Time.parse(@article.pub_date.to_s)) / 60).round %> minutes <% end %>ago</p>
      <div id="meter">
        <div>
          <% prob = @article.probability.round(2) * 100 %>
          <% prob_value = prob.to_i  %>
          <% if @article.fake_news_validation == true %>
            <% if prob_value >= 75 %>
              <p>This article is most likely <span style='color:#f8312f;'>false</span>.</p>
            <% else %>
              <p>This article is <span style='color:#fff100;'>possibly false</span>.</p>
            <% end %>
          <% else %>
            <% if prob_value >= 75 %>
              <p>This article is most likely <span style='color:#00d26a;'>true</span>.</p>
            <% else %>
              <p>This article is <span style='color:#fff100;'>possibly true</span>.</p>
            <% end %>
          <% end %>
          <%# if @article.fake_news_validation == true %>
              <%# <p>This article spreads <span style="color:#c21615;">misinformation</span></p> %>
            <%# else %>
              <%# <p>This article is <span style="color:#029702;">verified</span></p> %>
            <%# end %>
            <div class ="fake-news-bar" style="width:<%= (@article.probability.round(2) * 100).to_i %>%">
            <div class ="fake-news-bg-bar">
            </div>
          </div>
          <p>We are <%= (@article.probability.round(2) * 100).to_i %>% confident on this assessment</p>
      </div>
    </div>
  <%# </div> %>

  <div class="content"> </div>

  <div class="article-content-show">
    <p><%= @article.content %></p>
  </div>
  <%# <div class="original-article"> %>
    <a href="<%= @article.article_url %>" target="_blank"> Visit the original article</a>
  <%# </div> %>
    <div class="suggested_articles">
      <%= link_to "See all articles", articles_path, class: "glow" %>
    </div>
  </div>

      <div class="m-2 mt-5">
        <h4 class="d-flex justify-content-center">Suggested articles: </h4>
        <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
              <div class="listed-suggested-article">
                  <% prob = article.probability.round(2) * 100 %>
                  <% prob_value = prob.to_i  %>
                  <% prob_value = prob_value * -1 if prob_value < 0 %>
                <div class="icon">
                  <% if article.fake_news_validation == true && prob_value >= 75 %>
                      <span>🔴</span>
                    <% elsif article.fake_news_validation == false && prob_value >= 75%>
                      <span>🟢</span>
                    <% else %>
                      <span>🟡</span>
                  <% end %>
                </div>
                <div >
                  <h3><%= article.title.truncate(100) %></h3>
                  <% if article.fake_news_validation == true %>
                    <% if prob_value >= 75 %>
                      <p>This article is most likely <span style='color:#f8312f;'>false</span>.<br>We are <%= prob_value %>% confident about our analysis.</p>
                    <% else %>
                      <p>This article is <span style='color:#fff100;'>possibly false</span>.<br>Our analysis is only <%= prob_value %>% certain.</p>
                    <% end %>
                  <% else %>
                    <% if prob_value >= 75 %>
                      <p>This article is most likely <span style='color:#00d26a;'>true</span>.<br>We are <%= prob_value %>% confident about our analysis.</p>
                    <% else %>
                      <p>This article is <span style='color:#fff100;'>possibly true</span>.<br>Our analysis is only <%= prob_value %>% certain.</p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      <div data-controller="update-comments">
        <div data-update-comments-target="output" class="comments">
          <% unless @comments.empty? %>
              <%= render "comments", comments: @comments %>
          <% end %>
        </div>
        <div class="comments mt-5">
          <h4>Leave a Comment</h4>
          <%= simple_form_for [ @article, @new_comment ], html: {data: { update_comments_target: "form", action: "submit->update-comments#create" } } do |f| %>
            <%= f.text_area :content, placeholder: "Share your thoughts...", class: "comment-textarea", data: {update_comments_target: "input"} %>
            <%= f.submit "Post Comment", class: "glow app-button mt-2" %>
          <% end %>
        </div>
      </div>
    </div>
