<div>
  <div class="article-info">
      <h2><%= @article.title %></h2>
  </div>
  <div>
    <img class="article-image" src="<%= @article.image_url %>" alt="<%@article.title%>">
  </div>
    <div class="article-info">
      <p class="mb-0">Media : <%= @article.source_name %></p>
      <p>Category : <%= @article.category.split("/")[1] %></p>

  <!-- Share Button -->
   <div data-controller="share-button" class="share-button-container">
      <button data-action="click->share-button#toggle" class="share-button">Share</button>
      <div data-share-button-target="options" class="share-options">
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>&quote=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=<%= @article.title %>" target="_blank" class="share-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://api.whatsapp.com/send?text=<%= @article.title %> <%= request.original_url %>" target="_blank" class="share-icon"><i class="fab fa-whatsapp"></i></a>
        <a href="mailto:?subject=<%= @article.title %>&body=<%= request.original_url %>" target="_blank" class="share-icon"><i class="fas fa-envelope"></i></a>
      </div>
   </div>

      <div class ="fake-news-bar" style="width:<%= @percentage %>%">
        <div class ="fake-news-bg-bar">
        </div>
      </div>
      <div id="meter">This article is marked as : <%= @article.fake_news_validation %>
      </div>
    </div>
    <div class="content">
    </div>
  <div class="article-info pt-3">
    <p><%= @article.content %></p>
  </div>
  <div class="article-info">
    <a href="<%= @article.article_url %>" target="_blank"> Visit the original article</a>
  </div>
    <div class="suggested_articles">
      <ul>
        <% @articles.each do |article| %>
         <li><%= link_to article.title, article_path(article) %></li>
       <% end %>
      </ul>
      <%= link_to "See all articles", articles_path, class: "glow" %>
    </div>
</div>
