<div class="banner">
  <div class="box">
    <h1>CYB News</h1>
    <p>Check your biases. Prevent fake news.</p>
    <%= link_to "Discover", articles_path, class: "glow" %>
  </div>
</div>
<div class="container">
  <div><h2>We check news for you</h2><br></div>
  <div></div>
  <div>
    <%= image_tag "About-us.png" %>
  </div>
  <div>
    <br>
    <p>Our advanced fake news detection system uses powerful machine learning techniques to <u>determine if news articles are real or fake</u>, giving each a probability score.</p>
    <p>Trained on a <u>large dataset of 155,000 articles from trusted sources</u>, our model is highly accurate and reliable. It analyzes the text of articles to find patterns that might indicate misinformation.</p>
    <p>Users can input text from news articles and get an instant authenticity assessment, helping to combat misinformation effectively.</p>
    <div class="profile-actions mt-4">
      <%= link_to "Log in", new_user_session_path, class: "app-button" %>
    </div>
    <div class="mt-4">
      <%= link_to ">> Browse news", articles_path %>
      <br>
      <%= link_to ">> Check an article you found", new_user_article_path %>
    </div>
  </div>
</div>
