<div class="grid">
  <% user_articles.each do |user_article| %>
      <div class="listed-user-article">
          <% decimal = 0.334369874598 %>
          <% decimal = decimal.round(2) * 100 %>
          <% prob_value = decimal.to_i  %>
          <% if user_article.fake_news_validation == false %>
            <% fake_value = "Fake news" %>
            <% if prob_value >= 68 && prob_value <= 100 %>
              <% bubble = "🔴" %>
              <% elsif prob_value >= 33 && prob_value < 68 %>
              <% bubble = "🟠" %>
              <% else %>
              <% bubble = "🟡" %>
            <% end %>
          <% else %>
            <% fake_value = "True" %>
            <% bubble = "🟢" %>
          <% end %>
        <div class="icon">
          <span><%= bubble %></span>
        </div>
        <div>
          <h3><%= user_article.title.truncate(60) %></h3>
          <p><%= fake_value %> | Probability: <%= prob_value %> %</p>
        </div>
        <div class="icon"><%= image_tag "Link-outside.svg" %></div>
        <div class="icon"><%= image_tag "Delete.svg" %></div>
      </div>
    <% end %>
</div>
