<div class="m-2">
  <% user_articles.reverse_each do |user_article| %>
      <div class="listed-user-article">
          <% prob = user_article.probability.round(2) * 100 %>
          <% prob_value = prob.to_i  %>
          <% prob_value = prob_value * -1 if prob_value < 0 %>
        <div class="icon">
        <% if user_article.fake_news_validation == true %>
            <span>🔴</span>
          <% else %>
            <span>🟢</span>
          <% end %>
        </div>
        <div >
          <h3><%= user_article.title.truncate(60) %></h3>
          <% if user_article.fake_news_validation == true %>
            <p style="color:#B099BD;">Classification: <span style='color:#c21615;'>Missinformation</span> | We are <%= prob_value %>% confident.</p>
          <% else %>
            <p style="color:#B099BD;">Classification: <span style='color:#029702;'>Verified</span> | We are <%= prob_value %>% confident.</p>
          <% end %>
        </div>
        <div class="icon">
          <% if user_article.article_url? %>
            <%= link_to (image_tag("Link-outside.svg")), user_article.article_url, target: "_blank"%>
          <% else %>
          <% end %>
        </div>
        <div class="icon">
          <%= link_to ("<i class='fa-solid fa-trash' style='color:white;'></i>").html_safe, user_article_path(user_article), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete the article?"} %>
        </div>
      </div>
    <% end %>
</div>
