<div class="profile-page">
  <div class="profile-header">
    <%= image_tag @user.profile_picture_url, class: "profile-picture" %>
    <h2><%= @user.name %></h2>
    <p>Joined in <%= @user.created_at.strftime("%B %Y") %></p>
    <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-edit-profile" %>
  </div>

  <div class="saved-articles-section">
    <h3>Saved articles</h3>
    <div class="saved-articles">
      <% @saved_articles.each do |article| %>
        <div class="article-card">
          <%= image_tag article.image_url, class: "article-image" %>
          <h4><%= article.title %></h4>
        </div>
      <% end %>
    </div>
    <%= link_to 'View all', saved_articles_path, class: "btn btn-view-all" %>
  </div>
</div>
