<div class="profile-page">
  <div class="profile-header mt-4">
    <h2><%= @user.username %></h2>
    <p><%= @user.email %></p>
    <p>Joined in <%= @user.created_at.strftime("%B %Y") %></p>
    <%# <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-edit-profile" %>
  </div>

  <div class="profile-actions mt-5">
    <%= link_to "Log out", destroy_user_session_path, class: "app-button", data: {turbo_method: :delete} %>
  </div>

  <div class="contact-area">
    <p class="small"><%= mail_to "contact@cyb-news.online", "Contact us" %>&ensp;<i class="fa-solid fa-envelope"></i></p>
    <a href="https://x.com/CYBNewsOnline" target="_blank" class="share-icon small">Follow us on&ensp;<i class="fab fa-x-twitter"></i></a>
  </div>
</div>
