<!DOCTYPE html>
<html>
  <head>
    <title>CybNews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <% unless current_page?(root_path) %>
      <% if current_page?(articles_path) || current_page?(user_articles_path) %>
        <%= render partial: 'devise/shared/navbar', locals: { show_back_button: false, show_search_icon: true } %>
      <% elsif current_page?(new_user_article_path) %>
        <%= render partial: 'devise/shared/navbar', locals: { show_back_button: false, show_search_icon: false } %>
      <% else %>
        <%= render partial: 'devise/shared/navbar', locals: { show_back_button: true, show_search_icon: false  } %>
      <% end %>
    <% end %>


    <%= yield %>
    <% if !current_page?(root_path) %>
      <%= render partial: 'shared/tab_bar' %>
    <% end %>
  </body>
</html>
